html,
body {
    padding: 0;
    margin: 0;
}

/* Carousel */
.carousel-half-height {
    height: 60vh;
    overflow: hidden;
}

.carousel-half-height .carousel-inner {
    height: 100%;
}

.carousel-half-height .carousel-item {
    height: 100%;
}

.carousel-half-height .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 
             0 0 20px rgba(0, 0, 0, 0.5), 
             0 0 40px rgba(0, 0, 0, 0.3);


  /* background: rgba(0, 0, 0, 0.8); */
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Cards on smaller screens */
@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .cards .card {
        width: 90% !important;
    }
}